body{
font-size:20px;
}
header{
background-color: FFFF73;
  border:7px solid FFFF73;
 width:100%;
}  
header h1{
  color: 7109AA;
  text-align: center;
  font-size:27px;
  padding-top: 13px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a{
  color:7109AA;
  opacity:0.7;
}
a::hover{
  color:300D41;;
  opacity:1;
}
.av{
  text-align: right;
  font-size:20px;
  margin-right:6px;
}
h1{
  text-align:center;
  color:BFBF30;
  font-size:25px;
  font-family: 'Inter';
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top:7px;
}
div{
  float:center;
  
}
img{

/* Rectangle 2 */

box-sizing: border-box;


  widht:280px;
  height:360px;

background: url(image.png);
border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
text-align:right;
}
.va{
  text-align: left;
  font-size:20px;
  margin-right:6px;
}
.textcols {
	overflow: hidden;
}
.textcols-left {
	float: left;
	width: 48%;
;
}
.textcols-right {
	margin-left: 52%;;
}
